---
const personalImageAlt = 'Alejandro';
---

<article class="flex flex-col md:flex-row gap-8 justify-center items-center">
	<div class="[&>p]:mb-4 [&>p>strong]:text-blue-800 dark:[&>p>strong]:text-blue-400 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1">
		<p>
			Bonjour, je suis Wail Gana. <strong>Je travaille sur divers projets informatiques, aussi bien en solo qu'en collaboration.</strong> Vous pouvez découvrir mes créations, qui vont des sites web aux applications, en passant par des projets en 2D, sur mon site web.
		</p>
		<p>
			<strong>Actuellement, je suis en troisième année d'IUT informatique et mon objectif est d'obtenir un diplôme d'ingénieur en cybersécurité après mon BUT.</strong> Au cours de mon parcours, j'ai acquis de nombreuses compétences qui me permettent d'être polyvalent dans plusieurs domaines, tels que :
		</p>
		<ul class="list-disc pl-6">
			<li>Le développement d'applications web et mobiles</li>
			<li>L'optimisation des performances d'applications</li>
			<li>L'administration de systèmes informatiques</li>
			<li>La gestion des données et de l'information</li>
			<li>La conduite de projets techniques</li>
			<li>Le travail collaboratif au sein d'une équipe informatique</li>
		</ul>
		<br>
		<p>
			Si vous êtes intéressé par mes projets ou souhaitez collaborer, n'hésitez pas à me contacter par mail !
		</p>
	</div>
	<img src="/projects/4.png" class="size-72 order-1 md:order-2" alt={personalImageAlt} />
</article>

